@import "@bryntum/schedulerpro/schedulerpro.stockholm.css";

body,
html {
    margin         : 0;
    display        : flex;
    flex-direction : column;
    height         : 100vh;
    font-family    : Poppins, "Open Sans", Helvetica, Arial, sans-serif;
    font-size      : 14px;
}

#app {
    flex : 1 1 100%;
}
